@import '../theme';
@include mat-sidenav-theme($theme);
@include mat-menu-theme($theme);
@include mat-list-theme($theme);
@include mat-tabs-theme($theme);
@include mat-toolbar-theme($theme);
.mat-toolbar {
  margin-bottom: -8px;
}

.stuff {
  padding-top: 10px;
}

nav[mat-tab-nav-bar] {
  a.mat-tab-link {
    color: $text-color;
  }
}

.mat-list,
.mat-nav-list,
.mat-selection-list {
  .mat-list-item {
    color: $text-color;
    font-size: $sm-font-size;
    margin-bottom: -10px;
    margin-top: -10px;
    padding-bottom: 0;
    padding-top: 0;
    text-decoration: none;
    &:hover {
      background: mat-color($accent);
      color: mat-color($mat-amber, 800);
      text-decoration: none;
      .eh {
        color: $text-color;
      }
    }
  }
}

.branding {
  cursor: pointer;
  display: block;
  margin-left: 40px;
  margin-top: 12px;
  position: fixed;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    border: 0;
    padding: 0;
    text-decoration: none;
  }
}

.mat-sidenav {
  background-color: $global-bg;
  width: 180px;
}

.mat-sidenav-container {
  background-color: transparent;
}

a .mat-tab-link {
  color: $text-color;
}

.more {
  background-color: mat-color($primary);
  color: $text-color;
  font-size: $md-font-size;
}
